<!DOCTYPE html>
<html>
   <head>
      <style>
         table {
           font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 100%;
         }

         td, th {
           border: 1px solid #dddddd;
           text-align: left;
           padding: 8px;
         }

         tr:nth-child(even) {
           background-color: #dddddd;
         }
      </style>
   </head>
   <body>
      <h2>Student Directory</h2>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        {% for student_name in student_names %}
        <tr>
          <td><a href='/report/{{student_name}}'>{{student_name}}</a></td>
        </tr>
        {% endfor %}
      </table>

   </body>
</html>
